*.iml
.DS_Store
.cxx
.env
.externalNativeBuild
.gradle
.kotlin
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
debug.keystore
local.properties
my-upload-key.jks
